<div class="CgiRecords-container">
  <cgi-multi-search [(searchOptions)]="searchOptions" />

  <button mat-flat-button color="primary" (click)="getRecords()" [disabled]="searchOptions().groups.length === 0">
    Buscar Récords
  </button>

  @if (loading()) {
    <div class="CgiResults-loading">
      <mat-spinner diameter="100"></mat-spinner>
    </div>
  }

  <div class="CgiRecords-results">
    @if (results()) {
      <cgi-records-display
        [cgiRecordsDisplayRecords]="results()!"
        [cgiRecordsDisplayGroups]="searchOptions().groups"
        class="CgiRecords-recordsDisplay"
      />
    }
  </div>
</div>
