.CgiRecords {
  &-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  &-searchContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
