.CgiHome {
  $cmp: &;

  &-container {
    display: flex;
    flex-direction: column;
  }

  &-nav {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: var(--mat-sys-inverse-surface);
  }

  &-navLink {
    color: var(--mat-sys-on-primary);
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    transition:
      color 0.3s,
      background-color 0.3s;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    &#{$cmp}-navLinkActive {
      background-color: var(--mat-sys-on-primary-fixed-variant);
    }

    &:hover {
      background-color: var(--mat-sys-primary);
    }
  }

  &-playoffIcon {
    transform: rotateY(180deg);
  }
}
