.CgiLeague {
  &-container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }

  &-searchContainer {
    display: flex;
    flex-direction: column;
  }

  &-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
  }

  &-results {
    display: flex;
    gap: 5rem;
  }

  &-table {
    flex: 1 1 auto;
  }

  &-code {
    flex: 1 0 950px;
  }

  &-checkbox {
    margin-bottom: 1rem;
  }

  &-field {
    flex: 1 0 100%;
    display: flex;
  }

  &-codeInput {
    width: 100%;
    height: 100%;
  }

  &-shield {
    height: 2.5rem;
    width: 2.5rem;
    object-fit: contain;
  }
}
