<div class="CgiPlayoff-container">
  <div class="CgiPlayoff-searchContainer">
    <cgi-search (cgiSearch)="getPlayoff($event)"></cgi-search>
  </div>

  @if (loading()) {
    <div class="CgiPlayoff-loading">
      <mat-spinner diameter="100"></mat-spinner>
    </div>
  }

  <div class="CgiPlayoff-results">
    @if (playoffs().length && wikiCode().length) {
      <mat-form-field class="CgiPlayoff-code">
        <mat-label>Wiki code</mat-label>
        <textarea [value]="wikiCode()" cdkTextareaAutosize class="CgiPlayoff-codeInput" matInput readonly></textarea>
      </mat-form-field>
    }
  </div>
</div>
