<div class="CgiParticipants-container">
  <cgi-multi-search [(searchOptions)]="searchOptions" />

  <button mat-flat-button color="primary" (click)="getParticipants()" [disabled]="searchOptions().groups.length === 0">
    Buscar Participantes
  </button>

  @if (loading()) {
    <div class="CgiResults-loading">
      <mat-spinner diameter="100"></mat-spinner>
    </div>
  }

  <div class="CgiParticipants-results">
    @if (participantsGrouped()) {
      <table class="CgiParticipants-table" [cellPadding]="0" [cellSpacing]="0">
        <thead>
          <tr>
            <th>Región</th>
            <th>Equipo</th>
            <th>Localidad</th>
          </tr>
        </thead>
        <tbody>
          @for (countGroup of participantsGrouped(); track $index) {
            @for (regionParticipants of countGroup.regions; track regionParticipants.region) {
              @for (participant of regionParticipants.teams; track participant; let first = $first) {
                <tr>
                  @if (first) {
                    <td [attr.rowspan]="regionParticipants.teams.length">{{ regionParticipants.region }}</td>
                  }
                  <td><img [src]="participant.shield" /> {{ participant.name }}</td>
                  <td>{{ participant.town }}</td>
                </tr>
              }
            }
          }
        </tbody>
      </table>
    }

    @if (wikiCode().length) {
      <div class="CgiParticipants-code">
        <mat-form-field class="CgiParticipants-field">
          <mat-label>Wiki code</mat-label>
          <textarea
            [value]="wikiCode()"
            cdkTextareaAutosize
            [cdkAutosizeMaxRows]="10"
            class="CgiParticipants-codeInput"
            matInput
            readonly
          ></textarea>
        </mat-form-field>
      </div>
    }
  </div>
</div>
